<footer class="wrapper style1 align-center is-inactive">
    <div class="inner">
        <ul class="icons">
            <li>
                <a href="https://vimeo.com/album/1944702/" class="icon style2 fa-vimeo"><span class="label">Vimeo</span></a>
            </li>
            <li>
                <a href="https://www.facebook.com/pages/MenorKayak/145261602175301/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li>
                <a href="mailto:info@menorkayak.com" class="icon style2 fa-envelope"><span class="label">Email</span></a>
            </li>
        </ul>
        <p>© MenorKayak | Made with <span class="icon fa-heart"></span> by <a href="https://jordi.nz">Jordi</a></p>
    </div>
</footer>
