{% load static core_tags %}

<div class="content">
    <h2>Day {{ item.pk|roman_number }}</h2>
    <p>{{ item.description }}</p>
    <p>From <strong>{{ item.starts_at.name }}</strong> to <strong>{{ item.ends_at.name }}</strong><br/>
    Tunes: <strong>{{ item.music }}</strong></p>
    <ul class="actions small horizontal">
        <li><a href="//vimeo.com/{{ item.vimeo_id }}" data-lity class="button special small icon fa-play">Watch</a></li>
        <li><a href="/logbook#day-{{ item.pk }}" class="button special small icon fa-image">Gallery</a></li>
    </ul>
</div>
<div class="image">
    <img src="{% static 'images/banners/' %}{{ item.pk }}.jpg" alt>
    <a href="//vimeo.com/{{ item.vimeo_id }}" data-lity class="button special big wide icon fa-play"">Watch</a>
</div>
