{% extends "base.html" %}
{% load static %}

{% block title %}The Heroes{% endblock title %}
{% block seo_title %}The Heroes{% endblock seo_title %}
{% block twitter_title %}The Heroes{% endblock twitter_title %}


{% block content %}

    <section class="wrapper style1  ">
        <div class="inner">
            <h2>The Heroes</h2>
            <p>This adventure was planned, shot and told by Jordi and Robert, just a couple of regular dirtbags.</p>
            <span class="image fit"><img src="{% static 'images/both.jpg' %}" alt=""></span>
            <section class="spotlight onload-image-fade-in style2 orient-right content-align-left image-position-center">
                <div class="content">
                    <h3>"Captain" Jordi</h3>
                    <p>Adventure junkie and geek. Kayaking, surfing, trekking, diving... any fun activity close to nature makes him happy. This was his second kayak tour around Menorca Island and probably not the last. Jordi regulary writes about his outdoor experiences in <a href="https://jordijoan.me">his blog</a>.</p>
                </div>
                <div class="image">
                    <img src="{% static 'images/jordi.jpg' %}" alt="">
                </div>
            </section>
            <section class="spotlight onload-image-fade-in style2 orient-right content-align-left image-position-center">
                <div class="content">
                    <h3>"Shipboy" Robert</h3>
                    <p>Roberto has a great passion for outdoor activities. You can usually find him biking or hiking the Catalan territory at any given day. Great paddling buddy, this was his first serious experience with the kayak.</p>
                </div>
                <div class="image">
                    <img src="{% static 'images/roberto.jpg' %}" alt="">
                </div>
            </section>
            <section class="spotlight onload-image-fade-in style2 orient-right content-align-left image-position-center">
                <div class="content">
                    <h3>Acknowledgements</h3>
                    <p>First of all we would like to thank our Mother Nature for allowing us to enjoy such an amazing experience. We also thank GoPro and <a href="http://www.golgovideos.com/">Golgovideos</a> for inspiring us to document and publish the experience. Special thanks to the legendary French geographer <a href="http://fr.wikipedia.org/wiki/Jean_de_Beaurain">Jean de Beaurain</a> for providing us with such a wonderful map. Thanks to <a href="http://www.icgc.cat/">Institut Cartogràfic de Catalunya</a> for maintaining an open and accessible collection of exceptional old maps.</p>
                    <p>This site is dedicated to our good mate Oriol, who wasn't able to join us due to a bike accident the week before the trip. We remember you brother.</p>
                    <p>This site has no commercial purposes. If you have any question, just drop us a line to <a href="mailto:info@menorkayak.com">info@menorkayak.com</a> and we'll get back to you asap.</p>
                </div>
            </section>
            <div class="items style3 content-align-left medium">
                <section>
                    <div class="inner">
                    <a href="http://www.golgovideos.com/">
                    <img src="{% static 'images/golgovideos.png' %}">
                    </a>
                    </div>
                </section>
                <section>
                    <div class="inner">
                    <a href="http://www.icgc.cat/">
                    <img src="{% static 'images/logo_icc.jpg' %}">
                    </a>
                    </div>
                </section>
                <section>
                    <div class="inner">
                    <a href="https://www.gopro.com/">
                    <img src="{% static 'images/gopro-logo.jpg' %}" width="170">
                    </a>
                    </div>
                </section>
            </div>
        </div>

    </section>

{% endblock content %}
