{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="banner style5 orient-center content-align-left image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
        <div class="content">
            <h1>MenorKayak</h1>
            <h3>The complete tour around Menorca Island by kayak.</h3>
            <p>Experience the journey through the eyes of a GoPro camera. Seven days of paddling around one of the most beautiful islands of the Mediterranean Sea.<p>
            <ul class="actions horizontal">
                <li><a href="//vimeo.com/31766265" data-lity class="button big wide">Watch Intro</a></li>
                <li><a href="#day-1" class="button big wide smooth-scroll">Watch Full Trip</a></li>
            </ul>
        </div>
        <div class="image">
            <img src="{% static 'images/banners/home.jpg' %}">
        </div>
    </section>

    {% for day in days %}
        <section id="day-{{ day.pk }}" class="spotlight onload-image-fade-in onload-content-fade-right style1 orient-left content-align-left image-position-left ">
        {% include "includes/spotlight.html" with item=day %}
        </section>
    {% endfor %}

{% endblock content %}
